<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> Hello! My name is Ayush Goel and I am pursuing a Computer Science Bachelor's Degree at
      <a href="https://www.rit.edu/"> Rochester Institute of Technology </a>.
      I am a member of <a href="https://www.csh.rit.edu/">Computer Science House as well</a>.</p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <p>Intermediate experience with html5.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <p>Intermediate experience with python and Java</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-slack-plain-wordmark colored"></i>
      <p>Intermediate experience with github, ubuntu Gnome, and slack.</p>
    </div>
  </div>
</div>
