<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Vision Test" src="{{ " /assets/img/vision1.jpg " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Computer Vision Algorithm </h5>
      <li> Java</li>
      <li> OpenCV</li>
      <li> Android Studio</li>
      <p> As part of FIRST&reg; Robotics <a href="https://github.com/ArcticWarriors">Team 174</a>,
        I helped develop a vision targetting algorithm. This involved creating a vision algorithm using Java and OpenCV
        to detect retroreflective tape. The algorithm became part of a custom android application, which sent
        the information to the robot. The robot contained an algorithm to then autonomously guide the robot to the target. </p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <!-- <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ " /assets/img/skate.jpg " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project Title </h5>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div> -->
</div>
